@model OnlineShop.Models.Categorie

<img src="../css/os-views-bg.png" class="comenzi-body" />
<br />

<h2>Adaugare categorie</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Categorii", method: FormMethod.Post))
{
	@Html.Label("Denumire", "Denumire categorie", new {@class = "data-label val-label"})
	<br />

	@Html.TextBox("Denumire", null, new { @class = "form-control data-label val-label"})

	@Html.ValidationMessageFor(m => m.Denumire, null, new { @class = "text-danger" })
	<br />
	<br />

	<button class="btn btn-success rounded-pill" type="submit">Adauga categorie</button>
}