@model OnlineShop.Models.Categorie



<h2>Afisare categorie</h2>
<br />

@Html.Label("Id", "Id categorie")
<p>@Model.Id</p>

@Html.Label("Denumire", "Denumire categorie")
<p>@Model.Denumire</p>



@if (User.IsInRole("Administrator"))
{
	<a class="btn alert-success" href="/Categorii/Edit/@Model.Id">Editare categorie</a>
}

<br />
<hr />
<br />

<form method="post" action="/Categorii/Delete/@Model.Id">

	<button class="btn btn-danger" type="submit">Sterge categoria</button>

</form>
<br />
<a class="btn alert-success" href="/Categorii/Index">Afisare lista categorii</a>

<br />
<hr />
<br />

<a class="btn alert-success" href="/Produse/Index?categ=@Model.Id">Afisare produse</a>
