.categorie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    filter: hue-rotate(45deg) brightness(95%) contrast(105%);
}

.rev-categ-post {
    filter: hue-rotate(-45deg) brightness(105%) contrast(95%);
}

.new-categorie {
    width: 50px;
    height: 50px;
    transform: scale(100%);
    transition: all .2s;
}

.new-categorie:hover {
    transform: scale(110%);
}

.new-categorie:hover + .plus {
    transform: scale(110%);
}

.buton-flex {
    display: inline-flex;
}

.margin-buton-stanga {
    margin-left: 10px;
}

.margin-buton-dreapta {
    margin-right: 10px;
}

.prod-img {
    width: 300px;
    height: 300px;
}