html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
.search-form {
    border: 0;
    padding: 0;
    margin: 0;

    display: flex;

    align-content: center;
    align-items: center;
    justify-content: flex-end;

    width: 300px;
    height: 32px;

    background-color: transparent;
}

.search-bar {
    display: inline-block;

    margin: 0;

    padding: 6px;
    padding-bottom: 4px;
    padding-top: 4px;

    border: 0;
    border: 1px solid rgb(157, 199, 149);
    border-right: 0;

    background-color: rgb(178, 229, 172);
    color: rgb(0, 55, 4);
    font-weight: 500;
    
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    width: 148px;
    height: 32px;

    outline: 0;
}

.search-btn-box {
    display: flex;

    margin: 0;

    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    border: 0;
    border: 1px solid rgb(157, 199, 149);
    border-left: 0;

    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    background-color: transparent;

    width: 32px;
    height: 32px;

    overflow: hidden;
}

.search-btn {
    border: 0;
    margin: 0;

    background-color: transparent;

    width: 40px;
    height: 32px;
}

.search-btn-icon {
    border: 0;
    padding: 0;
    margin: 0;

    position: relative;
    top: 0;
    left: 0;

    height: 32px;
    width: 32px;
    filter: contrast(0) brightness(120%) sepia(100%) hue-rotate(50deg);
}
*/

.prod-img {
    width: 92px;
    height: 92px;
}

/* Search Engine View Design */

.container-searchEngine {
    display: inline-flex;
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
}

.search-bars, .search-icon {
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(255, 106, 0, 0.2);
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}

.search-icon {
    width: auto;
    border-radius: 100%;
    background-color:rgba(0, 255, 239, 0.2);
    margin-left: 40px;
}

.container-searchEngine > input {
    width: 240px;
    font-style: italic;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgba(163, 163, 163, 0.2);
}

.container-searchEngine > select {
    width: 120px;
}

#sort-value {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
}

#sort-order {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

/* Layout de butoane pentru simplitate */

.div-stilizare {
    display: inline-flex;
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;
    /*background-color: aqua;*/
}

.butoane_layout {
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(95, 200, 129, 0.2);
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
}