@model OnlineShop.Models.Exemplar

@{
	ViewBag.Titlu = "Afisare exemplar";
}


<h2>@ViewBag.Titlu</h2>
<br />

@foreach (var produs in ViewBag.Produse)
{
	@if (produs.Id == @Model.ProdusId)
	{
		<p>@produs.Titlu</p>
	}
}
<p>@Model.Numar_Produs</p>

@if (User.IsInRole("Administrator"))
{
	<form method="post" action="/Exemplare/Delete/@Model.ProdusId/@Model.Numar_Produs">

		<button class="btn btn-danger" type="submit">Sterge exemplarul</button>

	</form>
}
<br />
<a class="btn alert-success" href="/Exemplare/Index/">Afisare lista exemplare</a>

<br />
<hr />
<br />